

<footer>
    <div class="foot-panel1">
       <a href="#navbarSupportedContent">Back to top</a> 
    </div>
    <div class="foot-panel2">
        <ul>
            <li><p>Get to know us</p></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog </a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Investor relation</a></li>
            <li><a href="#"></a></li>

        </ul>
        <ul>
            <li><p>Make money with us</p></li>
            <li><a href="#">Sell products on VIT Market</a></li>
            <li><a href="#">Self-Publish with Us </a></li>
            <li><a href="#">Sell Things That You are no longer in need of</a></li>
            <li><a href="#"> Become an Affiliate</a></li>
            <li><a href="#">  </a></li>

        </ul>

        <ul>
            <li><p>Payment products</p></li>
            <li><a href="#">Business card</a></li>
            <li><a href="#">Shop with points </a></li>
            <li><a href="#">Reload your Balance </a></li>
            <li><a href="#">Currecy converter</a></li>
            

        </ul>
        <ul>
            <li><p>Let us help u</p></li>
            <li><a href="#"></a></li>
            <li><a href="#">Your Account </a></li>
            <li><a href="#"> Your Orders</a></li>
            <li><a href="#">Shipping Rates & Policies</a></li>
            <li><a href="#"> Returns & Replacements  </a></li>
            <li><a href="#"> Help  </a></li>

        </ul>
    </div>
    <div class="foot-panel3">
        <img src="" alt="">
        
    </div>
    <div class="foot-panel4">
        <div class="pages">
            <a>Conditions of use</a>
            <a >Privacy notice</a>
            <a>Your ads privacy choices</a>
        </div>
        <div class="copyright">
            &copy; 2024, VIT Market.com, Inc.ir ots affiliates
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
